FlightSection.css
.flight-section-container {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .flight-section-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .flight-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .flight-form-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
  }
  
  .flight-form-input {
    margin-bottom: 15px;
    padding: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .flight-form-button {
    padding: 10px 20px;
    background-color: #b71c1c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .flight-form-button:hover {
    background-color: darkred;
  }
  
  .flight-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .flight-card-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .flight-card-item:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .flight-card-title {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
  }
  
  .flight-card-detail {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }
  
  .flight-card-action-button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #dc3535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .flight-card-action-button:hover {
    background-color: darkred;
  }

  /* New styles for Update button */
.flight-card-update-button {
  /* background-color: #007bff;  */
  margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.flight-card-update-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
  
  