.footer {
  background-color: #a11a1a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-heading {
  font-size: 1em;
  margin-bottom: 10px;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-wrap: wrap; /* Allows the links to wrap into multiple rows */
  gap: 10px; /* Adds some spacing between the links */
  justify-content: center; /* Centers the links within the container */
}

.footer-link {
  flex: 1 1 30%; /* Adjusts the width so that each link takes up about 30% of the row */
  max-width: 30%; /* Ensures that each link won't grow beyond 30% of the row */
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 1em;
  text-align: center; /* Centers the text within each link */
}

.footer-link:nth-child(4), .footer-link:nth-child(5) {
  flex: 1 1 45%; /* Makes the last two links a bit wider to fill the second row evenly */
  max-width: 45%;
}


.footer-link:hover {
  text-decoration: underline;
}


.footer-social {
  margin-bottom: 10px;
}

.social-icon {
  color: #fff;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
}

.social-icon:hover {
  color: #f0f0f0;
}

.footer-info {
  font-size: 0.9em;
}
